@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --- Reset Styles --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  font: inherit;
}

li {
  list-style-type: none;
}

#root,
#__next {
  isolation: isolate;
}

input {
  appearance: none;
  border: none;
}

button {
  border: none;
}

/* --- Custom Styling --- */

:root {
  --white: #f5fcfa;
  --primary-500: #00c281;
  --primary-200: #e5f2ee;
  --primary-900: #1f3830;
  --font-body: "DM Sans", sans-serif;
  /* --font-heading: "DM Serif Text", serif; */
  --font-heading: "Playfair Display", serif;
}

body {
  font-family: var(--font-body);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
}

#__next {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

p,
.p {
  font-family: var(--font-body);
  line-height: 1.4;
  letter-spacing: -0.02em;
}

h5,
.h5 {
  font-family: var(--font-heading);
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 0.9;
  font-size: 24px;
}

.pl40 {
  padding-left: 40px;
}

.pr40 {
  padding-right: 40px;
}

.white {
  color: var(--white);
}

.p900 {
  color: var(--primary-900);
}

.p-container {
  padding: 60px 40px;
}

h4,
.h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  font-family: var(--font-heading);
}

.logo {
  width: 40px;
}

.admission-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--primary-500);
  color: var(--white);
  padding: 5px;
  font-family: var(--font-body);
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.02em;
  max-width: 100vw;
  position: relative;
}

.admission-wrapper > button {
  position: absolute;
  right: 0;
  margin-right: 25px;
  padding-top: 2px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  color: var(--primary-900);
  width: 100vw;
  max-width: 100vw;
  color: var(--white);
  transition: background-color 0.5s ease;
}

.header-bg {
  background: var(--primary-200);
  color: var(--primary-900);
  border-block-end: 1px solid;
}

.header-wrapper.active {
  color: var(--primary-900);
}

.img-label {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.img-label > svg {
  position: relative;
  margin-bottom: -5%;
}

.header-list {
  display: flex;
  gap: 16px;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
}

.school-name {
  max-width: 22ch;
  line-height: 1.15;
  font-size: 12px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  background: var(--primary-900);
  padding-block: 60px;
  color: var(--white);
}

.footer-img-label {
  display: flex;
  align-items: center;
  align-self: start;
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-heading);
}

.footer-img {
  filter: invert(1) grayscale(100);
  height: 60px;
  width: auto;
}

.footer-list-wrapper {
  line-height: 1;
}

.footer-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
  opacity: 90%;
}

.footer-school-name {
  max-width: 22ch;
  line-height: 1.2;
  font-size: 18px;
}

.footer-block-wrapper {
  display: grid;
}
.socials {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  margin-top: 20px;
  gap: 8px;
}

.button {
  border: 2px solid var(--primary-900);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.25s ease;
  transition-property: color, background-color;
}

.button.secondary {
  border-color: var(--primary-200);
}

.button.secondary:hover {
  color: var(--primary-900);
  background-color: var(--primary-200);
}

.button:hover {
  color: var(--primary-200);
  background-color: var(--primary-900);
}

.socials-mine {
  align-self: end;
  gap: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
  opacity: 80%;
}

.fb {
  width: 24px;
  aspect-ratio: 1;
}

.fb-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-img-wrapper {
  overflow: hidden;
  height: 85vh;
  width: 100vw;
  position: relative;
  text-align: center;
  color: var(--white);
}

.hero-img {
  object-fit: cover;
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 3;
}

.hero-heading {
  font-family: var(--font-heading);
  font-size: 60px;
  line-height: 0.9;
  letter-spacing: -0.01em;
  text-align: center;
  padding: 25px 0;
  max-width: 18ch;
}

.hero-heading-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.stats {
  position: relative;
  z-index: 5;
  border-radius: 6px;
  background: var(--primary-900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: fit-content;
  padding: 33px 100px;
  margin-inline: auto;
  margin-top: -4.25%;
}

.hero-content {
  min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 42px;
  line-height: 1;
  gap: 10px;
}

.hero-content .p {
  font-size: 14px;
  opacity: 80%;
  line-height: 1;
}

h3,
.h3 {
  font-family: var(--font-body);
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
}

.article-wrapper > p {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: -0.02em;
  text-align: left;
  opacity: 0.8;
}

.about-wrapper {
  display: flex;
}

.about {
  background-color: var(--primary-900);
  border-radius: 4px 0px 0px 4px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-heading {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.about-subheading {
  font-family: var(--font-heading);
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  max-width: 15ch;
  margin-block: 30px;
}

.about > button {
  border: 1px solid var(--primary-200);
  padding: 10px;
  max-width: 8rem;
}

.about > button:hover {
  color: var(--primary-900);
  background-color: var(--primary-200);
  font-weight: 600;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.image-wrapper {
  border-radius: 0px 4px 4px 0px;
  max-height: 90vh;
}

.br4 {
  border-radius: 4px;
}

.p40 {
  padding: 40px;
}

.w-50 {
  width: 50%;
}

.pos-rel {
  position: relative;
}

.ratio-1-1 {
  aspect-ratio: 1;
}

.ratio-16-9 {
  aspect-ratio: 16/6.6;
}

.overflow {
  overflow: hidden;
}

.gallery-menu {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
}

.gallery-pagination {
  background-color: var(--white);
  padding: 12px 20px;
  border-radius: 0px 4px 0px 0px;
  text-align: center;
  opacity: 0.7;
}

.next-btn,
.prev-btn {
  cursor: pointer;
  width: 12px;
  transition: opacity 0.5s ease;
}

.next-btn.swiper-button-disabled,
.prev-btn.swiper-button-disabled {
  opacity: 0.5;
}

.w-100vw {
  width: 100vw;
}

.footer-logo-wrapper {
  aspect-ratio: 1;
  width: 67.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  transform: translate(5px, 5px);
}

@media (max-width: 970px) {
  .about-heading {
    font-size: 12px;
  }

  .about-subheading {
    font-size: 30px;
  }

  .footer-list-wrapper > .h5 {
    font-size: 20px;
  }

  .stats {
    margin-top: -140px;
    max-width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 30px;
    gap: 30px;
    row-gap: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content {
    min-width: auto;
  }

  .hero-heading {
    font-size: 40px;
  }

  .h3 {
    font-size: 30px;
  }

  .header-wrapper {
    padding: 20px;
  }
  .news-para-wrapper {
    margin-left: 0;
    margin-top: 10px;
    max-width: 100vw;
  }
  .card-wrapper {
    gap: 40px;
    flex-direction: column;
  }
  .pl40 {
    padding-left: 20px;
  }
  .pr40 {
    padding-right: 20px;
  }
  .p40 {
    padding: 20px;
  }
  .gallery-menu {
    left: 20px;
    bottom: 20px;
  }
  .ratio-16-9 {
    aspect-ratio: 16/10;
  }
  .about-wrapper {
    flex-direction: column-reverse;
  }
  .w-50 {
    width: 100%;
  }
  .ratio-1-1 {
    aspect-ratio: 10/6;
  }
  .about {
    border-radius: 0px 0px 4px 4px;
    padding-block: 40px;
  }
  .image-wrapper {
    border-radius: 4px 4px 0px 0px;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    padding-block: 30px;
  }
}
