@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: "Manrope", sans-serif;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding-inline: 40px;
  margin-top: 40px;
}

.img-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.header-list {
  display: flex;
  gap: 16px;
  margin-left: auto;
  justify-content: space-around;
  font-weight: 600;
}

.school-name {
  max-width: 22ch;
  line-height: 1.15;
}
